# Database connection string for PostgreSQL

PORT=8080

# POSTGRES_URL

DATABASE_URL="postgresql://neondb_owner:npg_L46SazHjbORI@ep-winter-block-acdk55dv-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# BetterAuth API configuration

BETTER_AUTH_API_KEY=ba_yifww64d0f8ppx9632fshub7d4u93yhl
BETTER_AUTH_URL=http://localhost:8081
BETTER_AUTH_SECRET=""
API_BASE_URL="http://localhost:8080"

# Google OAuth credentials

GOOGLE_CLIENT_ID=942281546973-2rlmf5g1n8o11up0mrpsfqvj9lguvu1h.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Google Gemini Key 

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBo-9CC_20NY86wVXllmsSmWci6XHCB8Iw

OPENAI_API_KEY=""

WEB_APP_BASE_URL="http://localhost:3000"