# Database connection string for PostgreSQL

PORT=8080

# POSTGRES_URL

DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# BetterAuth API configuration

BETTER_AUTH_API_KEY=your-better-auth-api-key
BETTER_AUTH_URL=http://localhost:8081
BETTER_AUTH_SECRET="your-better-auth-secret"
API_BASE_URL="http://localhost:8080"

# Google OAuth credentials

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Google Gemini Key 

GOOGLE_GENERATIVE_AI_API_KEY=your-google-gemini-api-key

OPENAI_API_KEY="your-openai-api-key"

WEB_APP_BASE_URL="http://localhost:3000"